<a href="https://colab.research.google.com/github/inesnft/Athlete-Performance-Prediction/blob/main/Projet_AAA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook essaie

In [6]:
import pandas as pd
from pathlib import Path
import urllib.request

def load_football_data(filename: str = "Euro-Football_2012-2023.csv") -> pd.DataFrame:

    # Chemins et URL
    DATASETS_PATH = Path("datasets")
    CSV_FILE_PATH = DATASETS_PATH / filename # Le chemin local pour le fichier CSV

    # L'URL RAW (Brute) pointant vers le nouveau fichier CSV sur GitHub

    URL_GITHUB_CSV = (
        "https://raw.githubusercontent.com/inesnft/Athlete-Performance-Prediction/main/Euro-Football_2012-2023.csv"
    )

    # 1. Vérification et téléchargement
    if not CSV_FILE_PATH.is_file():
        # Crée le répertoire 'datasets' si nécessaire
        DATASETS_PATH.mkdir(parents=True, exist_ok=True)

        print(f"Téléchargement de {filename} depuis GitHub...")
        # Téléchargement du fichier CSV
        urllib.request.urlretrieve(URL_GITHUB_CSV, CSV_FILE_PATH)
        print("Téléchargement terminé.")

    # 2. Chargement des données CSV
    try:
        # pd.read_csv lit le fichier téléchargé localement
        data_frame = pd.read_csv(CSV_FILE_PATH, sep=';')
        return data_frame
    except Exception as e:
        print(f"Erreur lors de la lecture du fichier CSV : {e}")
        return pd.DataFrame()

football_data = load_football_data()

# Vérification
if not football_data.empty:
    print("DataFrame 'football_data' chargé à partir du CSV.")
football_data.head()

DataFrame 'football_data' chargé à partir du CSV.

,id,Country,League,Div,Season,Date,HomeTeam,AwayTeam,Referee,FTHG,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,0,England,Premier League,E0,2012-2013,2012-08-18 00:00:00,Arsenal,Sunderland,C Foy,0.0,...,4.0,2.0,12.0,8.0,7.0,0.0,0.0,0.0,0.0,0.0
1,1,England,Premier League,E0,2012-2013,2012-08-18 00:00:00,Fulham,Norwich,M Oliver,5.0,...,9.0,2.0,12.0,11.0,6.0,3.0,0.0,0.0,0.0,0.0
2,2,England,Premier League,E0,2012-2013,2012-08-18 00:00:00,Newcastle,Tottenham,M Atkinson,2.0,...,4.0,6.0,12.0,8.0,3.0,5.0,2.0,2.0,0.0,0.0
3,3,England,Premier League,E0,2012-2013,2012-08-18 00:00:00,QPR,Swansea,L Probert,0.0,...,11.0,8.0,11.0,14.0,5.0,3.0,2.0,2.0,0.0,0.0
4,4,England,Premier League,E0,2012-2013,2012-08-18 00:00:00,Reading,Stoke,K Friend,1.0,...,3.0,3.0,9.0,14.0,4.0,3.0,2.0,4.0,0.0,1.0

In [7]:
football_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66147 entries, 0 to 66146
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        66147 non-null  int64
 1   Country   66147 non-null  object
 2   League    66147 non-null  object
 3   Div       66121 non-null  object
 4   Season    66147 non-null  object
 5   Date      66121 non-null  object
 6   HomeTeam  66121 non-null  object
 7   AwayTeam  66121 non-null  object
 8   Referee   13620 non-null  object
 9   FTHG      66119 non-null  float64
 10  FTAG      66119 non-null  float64
 11  FTR       66119 non-null  object
 12  HTHG      66030 non-null  float64
 13  HTAG      66030 non-null  float64
 14  HTR       66030 non-null  object
 15  HS        50116 non-null  float64
 16  AS        50116 non-null  float64
 17  HST       50116 non-null  float64
 18  AST       50116 non-null  float64
 19  HF        48778 non-null  float64
 20  AF        48778 non-null  float64
 21  HC        50116 non-null  float64
 22  AC        50116 non-null  float64
 23  HY        50115 non-null  float64
 24  AY        50117 non-null  float64
 25  HR        50117 non-null  float64
 26  AR        50116 non-null  float64
dtypes: float64(16), int64(1), object(10)
memory usage: 13.6+ MB

In [12]:
football_data["Country"].value_counts()

Country
England        10748
Spain           9676
Italy           9193
France          8504
Germany         7028
Scotland        4556
Turkey          3763
Netherlands     3437
Portugal        3372
Belgium         2990
Greece          2880
Name: count, dtype: int64

In [11]:
football_data["League"].value_counts()

League
Premier League       6951
Championship         6373
Segunda Division     5315
Serie B              4827
Serie A              4366
Primera Division     4361
Division 2           4270
Le Championnat       4234
Futbol Ligi 1        3763
Bundesliga 2         3519
Bundesliga 1         3509
Eredivisie           3437
Liga I               3372
Jupiler League       2990
Ethniki Katigoria    2880
Division 1           1980
Name: count, dtype: int64